body {
    background-color: #f3f3f3;
    font-family: Arial, Helvetica, sans-serif;
    overflow: hidden;
}

.area-valor{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

.valor{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 350px;
    height: 310px;
    border-radius: 15px;
    padding: 40px;
    box-shadow: 0 0 1em rgb(223, 223, 223);
}

.valor form{
    display: flex;
    width: 100%;
    flex-direction: column;
}

.valor input{
    margin-top: 10px;
    background-color: #f8f8f8;
    text-align: center;
    color: #000000;
    border: none;
    height: 45px;
    border-radius: 10px;
    font-size: 25px;
}

.img {
    width: 120px;
    height: auto;
}

input::placeholder{
    color: #868686;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;


}

.botao_doar {
    display: block;
    background: linear-gradient(90deg, rgba(1,109,236,1) 0%, rgba(103,252,216,1) 100%);
    font-size: 20px;
    margin-top: 10px;
    font-weight: medium;
    color:#f3f3f3;
    border-radius: 10px;
    border: none;
    height: 45px;

}  
